@model OrganizedEndeavors.Models.IndexViewModel

<div class="row">
    <div class="col-md-10">
        <input type="text" class="form-control" placeholder="Endeavor" id="title" />
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary btn-block" id="submit">Add Endeavor</button>       
    </div>
</div>

<table class="table table-bordered table-striped table-hover" data-member-id="@Model.MemberId">
    <tr>
        <th>Endeavor</th>
        <th>Status</th>
    </tr>
</table>

@section scripts
    {
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="signalr/hubs"></script>
    <script src="~/Scripts/index.js"></script>
    }

