<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <h2>Login</h2>
        <form method="post" action="/home/login">
            <input type="text" name="email" class="form-control" placeholder="Email" />
            <br />
            <input type="password" name="password" class="form-control" placeholder="Password" />
            <br />
            <button class="btn btn-primary">Login</button>
        </form>
    </div>
</div>