<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <form method="post" action="/home/register">
            <h2>Register</h2>
            <input type="text" name="name" class="form-control" placeholder="Name" />
            <br />            
            <input type="text" name="email" class="form-control" placeholder="Email" />
            <br />
            <input type="password" name="password" class="form-control" placeholder="Password" />
            <br />
            <button class="btn btn-primary">Register</button>
        </form>
    </div>
</div>